Express/src/ShipmentRequest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns="http://www.xinsoft.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.xinsoft.com">
	<xs:element name="Width">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="10"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Weight">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="10"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Usercode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="UnitPrice">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="10"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TotalPrice">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="10"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Shipper">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ReferenceID"/>
				<xs:element ref="Server"/>
				<xs:element ref="PersonName"/>
				<xs:element ref="CompanyName"/>
				<xs:element ref="Address1"/>
				<xs:element ref="Address2"/>
				<xs:element ref="Address3"/>
				<xs:element ref="City"/>
				<xs:element ref="PostalCode"/>
				<xs:element ref="CountryCode"/>
				<xs:element ref="PhoneNumber"/>
				<xs:element ref="FaxNumber"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShipmentRequestAP">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ServiceHeader"/>
				<xs:element ref="Consignee"/>
				<xs:element ref="ShipmentDetails"/>
				<xs:element ref="Shipper"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShipmentDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Pieces"/>
				<xs:element ref="Contents"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ServiceHeader">
		<xs:complexType>
			<xs:all>
				<xs:element ref="Usercode"/>
				<xs:element ref="Password"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Server">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ReferenceID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PostalCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Pieces">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="Piece"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Piece">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Weight"/>
				<xs:element ref="Length"/>
				<xs:element ref="Width"/>
				<xs:element ref="Height"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PhoneNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PersonName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Password">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Length">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="10"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Height">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="10"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FaxNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Description">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="120"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Currency">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CountryCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Contents">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="Content"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Content">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Amount"/>
				<xs:element ref="UnitPrice"/>
				<xs:element ref="TotalPrice"/>
				<xs:element ref="Currency"/>
				<xs:element ref="Description"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Consignee">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PersonName"/>
				<xs:element ref="CompanyName"/>
				<xs:element ref="Address1"/>
				<xs:element ref="Address2"/>
				<xs:element ref="Address3"/>
				<xs:element ref="City"/>
				<xs:element ref="PostalCode"/>
				<xs:element ref="CountryCode"/>
				<xs:element ref="PhoneNumber"/>
				<xs:element ref="FaxNumber"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CompanyName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="City">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Amount">
		<xs:simpleType>
			<xs:restriction base="xs:integer"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Address3">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Address2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Address1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
